version: "3.8"

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "8081:80"
    depends_on:
      - wordpress
    networks:
      - inception
    restart: always

  mariadb:
    build: ./requirements/MariaDB
    container_name: MariaDB
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: wp_password
    volumes:
      - /home/isrkik/data/wp_db_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/WordPress
    container_name: WordPress
    depends_on:
      - mariadb
    volumes:
    - /home/isrkik/data/wp_files:/var/www/wordpress
    expose:
      - "9000"
    networks:
      - inception
    restart: always

networks:
  inception:
    driver: bridge