services:
  nginx:
    image: nginx:inception
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wp_data:/var/www/wordpress
    networks:
      - inception
    restart: always

  mariadb:
    image: mariadb:inception
    build: ./requirements/mariadb
    container_name: MariaDB
    volumes:
      - wp_db_data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 10s

  wordpress: #dont forget to add check for fastcgi server
    image: wordpress:inception
    build: ./requirements/wordpress
    container_name: WordPress
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wp_data:/var/www/wordpress
    expose:
      - "9000"
    networks:
      - inception
    env_file:
      - .env
    restart: always

volumes:
  wp_db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/isrkik/data/wp_db_data

  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/isrkik/data/wp_data

networks:
  inception:
    driver: bridge
