version: "3.8"

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wp_data:/var/www/wordpress
    networks:
      - inception
    restart: always

  mariadb:
    build: ./requirements/MariaDB
    container_name: MariaDB
    volumes:
      - wp_db_data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always

  wordpress:
    build: ./requirements/WordPress
    container_name: WordPress
    depends_on:
      - mariadb
    volumes:
      - wp_data:/var/www/wordpress
    expose:
      - "9000"
    networks:
      - inception
    restart: always

volumes:
  wp_db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/isrkik/data/wp_db_data

  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/isrkik/data/wp_data

networks:
  inception:
    driver: bridge
